.primary_btn{
    padding: 18px 10px;
    background-color: black;
    color: white;
    border:none;
    min-width: 220px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:16px;
    justify-content:center;
}

.outline_btn{
    padding: 18px 10px;
    border: 1px solid black;
    color: black;
    border:none;
    min-width: 220px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:16px;
    justify-content:center;
}




